node_modules
.nyc_output
build
report
dist
artifacts
lcov.info
*.swp
.temp
.vim/
lang_tests/**/*.dll
lang_tests/**/*.exe
lang_tests/**/dropecho.dungen.js

# stray test export output (TiledExporter)
test.png
